body{
	background: #008080;
}

h1{
	background: blue;
}

div{
	h1{
		a{
			color: #8B0000;
			text-decoration: none;
		}
	}
	p{
		background: #FFE4C4;
		color: #008B8B;
	}

	button{
		background: red;
		padding: 10px 20px;
		margin: 10px 0;
		transition: 0.3s;
		&:hover{
			transform: scale(1.2);
		}
	}
}